@import "tailwindcss";

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500 800;
  font-display: swap;
  src: url("/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("woff2");
}

@theme {
  --color-Green: #28c84e;
  --color-White: #ffffff;
  --color-Soft-White: #d9d9d9;
  --font-Space-Grotesk: 'Space Grotesk';
}

body{
  background-color: black;
  color: var(--color-white);
  font-family: var(--font-Space-Grotesk);
}